.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button{
  cursor: pointer;
}
.admin-data{
  display: flex;
  flex-direction: row;
  border: #61dafb 1px solid;
  margin: 5px;
  padding: 5px;
}
.admin-data p {
  border: solid 1px #61dafb;
  padding: 10px;
}